
  <!--displayedColumns: string[] = ['name', 'description', 'available', 'actions'];-->

  <h4>Filtrar usuarios por</h4>
  <mat-form-field appearance="fill">
    <mat-label>Roles</mat-label>
    <mat-select [(ngModel)] = "roleSelected" (ngModelChange)="getUsers($event)">
      <mat-option *ngFor="let food of foods" [value]="food.value" >
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="mat-elevation-z8 page">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Nº</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container> 
      <!-- Name Column -->
      <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef>Nombre Completo</th>
          <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
      </ng-container>
  
      <!-- Desc Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Usuario</th>
        <td mat-cell *matCellDef="let element">
          <div class="text">{{ element.username }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">
          <div class="text">{{ element.email }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Rol</th>
        <td mat-cell *matCellDef="let element">
          <div class="text">{{ element.role }}</div>
        </td>
      </ng-container>
  
      <!-- Available Column -->
      <!--<ng-container matColumnDef="available">
        <th mat-header-cell *matHeaderCellDef>Disponible</th>
        <td mat-cell *matCellDef="let element">
          <input type="checkbox" [(ngModel)]="element.available" />
        </td>
      </ng-container>
    -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <div style="display: flex; width: 40%; justify-content: space-between">
            <mat-icon>edit</mat-icon>
            <mat-icon>remove_red_eye</mat-icon>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>