<!--<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre completo Cliente</mat-label>
        <input matInput placeholder="Escribe el nombre completo del cliente" [(ngModel)]="pedidoDto.fullNameClient"
            name="fullNameClient">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Tipo</mat-label>
        <input matInput placeholder="0 si es a mesa 1 si es reserva" [(ngModel)]="pedidoDto.type" name="type">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nº Camarero</mat-label>
        <input matInput placeholder="Escribe numero de idenficacion del camarero" type="number" [(ngModel)]="pedidoDto.idWaiter"
            name="idWaiter">
    </mat-form-field>
    
    <ng-multiselect-dropdown
  [data]="platosList"
  [(ngModel)]="selectedItems"
  >
  </ng-multiselect-dropdown>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Tipo Pago</mat-label>
    <input matInput placeholder="0 si es efectivo, 1 si es tarjeta" type="number" [(ngModel)]="pedidoDto.typePayment"
        name="typePayment">
</mat-form-field>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Numero mesa</mat-label>
    <input matInput placeholder="Escriba el numero de mesa del pedido" type="number" [(ngModel)]="pedidoDto.numMesa"
        name="numMesa">
</mat-form-field>
  
    
    <button mat-raised-button color="primary" (click)="registerPlato()">Registrar</button>
</form>-->